$titlesColorPurple: rgb(159, 84, 194);
$linesColorPurple: rgb(170, 26, 236);
$buttonColorPurple: #a765f7b7;
$boxBackground: #e9d5e9;
$tablet: 1100px;
$phone: 600px;
$medium: 750px;
$buttonShadow: 28px 18px 25px -9px rgba(0, 0, 0, 0.25);
