@import "variables";

@import "RegisterPage/form";
@import "RegisterPage/image";
@import "RegisterPage/mainDiv";
@import "RegisterPage/title";
@import "RegisterPage/input";
@import "RegisterPage/label";
@import "RegisterPage/button";
@import "RegisterPage/modal";
@import "LoginPage/mainDivLogin";
@import "LoginPage/formLogin.scss";
@import "LoginPage/ImageLogin.scss";
@import "NavBar/header.scss";

html {
  background: rgb(242, 230, 243);
  font-family: "Nunito", sans-serif;
  @media only screen and (max-width: $phone) {
    background-image: url("https://i.pinimg.com/564x/af/39/26/af3926d2d683e784aefe301486c48af6.jpg");
    background-size: cover;
  }
}

html,
body,
main {
  margin: 0;
  height: 90%;
  min-height: 100%;
  overflow: hidden;
}
