.form {
  background-color: #e9d5e9;
  box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 10px 10px 0px;
  float: right;
  @media only screen and (max-width: $phone) {
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    float: none;
  }
}
@media only screen and (max-width: $phone) {
  #form {
    width: 100%;
  }
}
