.registerImage {
  background-image: url("https://i.pinimg.com/564x/af/39/26/af3926d2d683e784aefe301486c48af6.jpg");
  background-size: cover;
  box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.2);
  float: left;
  border-radius: 10px 0px 0px 10px;
  @media only screen and (max-width: $phone) {
    display: none;
    visibility: hidden;
  }
}
